name: tests

on: [push, pull_request]

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        include:
          - ruby: "2.4"
            rails: ~> 4.2.0
            bundler: 1.17.3
          - ruby: "2.4"
            rails: ~> 5.0.0
          - ruby: "2.4"
            rails: ~> 5.1.0
          - ruby: "2.4"
            rails: ~> 5.2.0

          - ruby: "2.5"
            rails: ~> 5.0.0
          - ruby: "2.5"
            rails: ~> 5.1.0
          - ruby: "2.5"
            rails: ~> 5.2.0
          - ruby: "2.5"
            rails: ~> 6.0.0
          - ruby: "2.5"
            rails: ~> 6.1.0

          - ruby: "2.6"
            rails: ~> 5.0.0
          - ruby: "2.6"
            rails: ~> 5.1.0
          - ruby: "2.6"
            rails: ~> 5.2.0
          - ruby: "2.6"
            rails: ~> 6.0.0
          - ruby: "2.6"
            rails: ~> 6.1.0

          - ruby: "2.7"
            rails: ~> 5.0.0
          - ruby: "2.7"
            rails: ~> 5.1.0
          - ruby: "2.7"
            rails: ~> 5.2.0
          - ruby: "2.7"
            rails: ~> 6.0.0
          - ruby: "2.7"
            rails: ~> 6.1.0
          - ruby: "2.7"
            rails: ~> 7.0.0
          - ruby: "2.7"
            rails: ~> 7.1.0

          - ruby: "3.0"
            rails: ~> 6.0.0
          - ruby: "3.0"
            rails: ~> 6.1.0
          - ruby: "3.0"
            rails: ~> 7.0.0
          - ruby: "3.0"
            rails: ~> 7.1.0

          - ruby: "3.1"
            rails: ~> 6.0.0
          - ruby: "3.1"
            rails: ~> 6.1.0
          - ruby: "3.1"
            rails: ~> 7.0.0
          - ruby: "3.1"
            rails: ~> 7.1.0
          - ruby: "3.1"
            rails: ~> 7.2.0

          - ruby: "3.2"
            rails: ~> 6.0.0
          - ruby: "3.2"
            rails: ~> 6.1.0
          - ruby: "3.2"
            rails: ~> 7.0.0
          - ruby: "3.2"
            rails: ~> 7.1.0
          - ruby: "3.2"
            rails: ~> 7.2.0
          - ruby: "3.2"
            rails: ~> 8.0.0
          - ruby: "3.2"
            rails: ~> 8.1.0
          - ruby: "3.2"
            rails: edge

          - ruby: "3.3"
            rails: ~> 6.0.0
          - ruby: "3.3"
            rails: ~> 6.1.0
          - ruby: "3.3"
            rails: ~> 7.0.0
          - ruby: "3.3"
            rails: ~> 7.1.0
          - ruby: "3.3"
            rails: ~> 7.2.0
          - ruby: "3.3"
            rails: ~> 8.0.0
          - ruby: "3.3"
            rails: ~> 8.1.0
          - ruby: "3.3"
            rails: edge

          - ruby: "3.4"
            rails: ~> 6.0.0
          - ruby: "3.4"
            rails: ~> 6.1.0
          - ruby: "3.4"
            rails: ~> 7.0.0
          - ruby: "3.4"
            rails: ~> 7.1.0
          - ruby: "3.4"
            rails: ~> 7.2.0
          - ruby: "3.4"
            rails: ~> 8.0.0
          - ruby: "3.4"
            rails: ~> 8.1.0
          - ruby: "3.4"
            rails: edge

          - ruby: head
            rails: ~> 8.1.0
          - ruby: head
            rails: edge

    env:
      RAILS_VERSION: ${{ matrix.rails }}
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
        bundler: ${{ matrix.bundler }}
    - name: Run bundle update
      run: bundle update
    - name: Run tests
      run: bin/rake
